<form ng-submit="addPlane()">
    <label>Type</label>
    <input name="company" class="form-control" ng-model="plane.company" type="text" placeholder="Plane make">
    <br>
    <label>Name</label>
    <input name="model" class="form-control" ng-model="plane.model" type="text" placeholder="Name of Plane">
    <br>
    <label>Number of Engines</label>
    <input type="text" class="form-control" ng-model="plane.engines" placeholder="Number of Engines">
    <br>
    <label>Image</label>
    <input name="image" class="form-control" ng-model="plane.img" type="text" placeholder="Img Url">
    <br>
    <input class="btn btn-success" type="submit">
</form>
